# No whitespace after the comma or in your part name!
config SHIELD_NOMAD_LEFT
    def_bool $(shields_list_contains,nomad_left)

# No whitespace after the comma or in your part name!
config SHIELD_NOMAD_RIGHT
    def_bool $(shields_list_contains,nomad_right)