if SHIELD_NOMAD_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Nomad"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NOMAD_LEFT || SHIELD_NOMAD_RIGHT

config ZMK_SPLIT
    default y

endif